<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Menu Zhuryk</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="wrapper">
		<header>
			
			<div class="header-menu">
				<div class="dropdown">
					<button class="left-menu">LEFT MENU</button>
					<div class="dropdown-child-left">
						<a href="#">My page</a>
						<a href="#">Lesson 1</a>
						<a href="#">Lesson 2</a>
						<a href="#">Lesson 3</a>
						<a href="#">Lesson 4</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="right-menu">RIGHT MENU</button>
					<div class="dropdown-child-right">
						<a href="#">My Name</a>
						<a href="#">Setting 1</a>
						<a href="#">Exit</a>						
					</div>
				</div>				
			</div>
			
		</header>

		<main>

			<div class="header-bottom">
				<div class="logo">
					<p>LOGO</p>
				</div>
				<div class="social-button">
					<ul>
						<li><a href="#">f</a></li>
						<li><a href="#">t</a></li>
						<li><a href="#">i</a></li>
					</ul>
				</div>
			</div>
			
			<div class="wrapper-main">
				<div class="container">
					
						<div class="content">
							<h1>Events</h1>
							
							<div class="flex-container">
								<div class="item-first">
									<p>Description</p>
								</div>
								<div class="item-second">
									<p>Date</p>
								</div>
								<div class="item-third">
									<p>Price</p>
								</div>
							</div>

							<div class="flex-container">
								<div class="item-first">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
								<div class="item-second">
									<p>15.03.2019</p>
								</div>
								<div class="item-third">
									<p>57$</p>
								</div>
							</div>

							<div class="flex-container">
								<div class="item-first">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
								<div class="item-second">
									<p>15.03.2019</p>
								</div>
								<div class="item-third">
									<p>57$</p>
								</div>
							</div>

						</div>
					
					<div class="content">
							<h1>Jobs</h1>
							
							<div class="flex-content">
								<div class="item-one">
									<p>Developer</p>
								</div>
								<div class="item-two">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<button>Apply</button>
								</div>
							</div>

							<div class="flex-content">
								<div class="item-one">
									<p>Developer</p>
								</div>
								<div class="item-two">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<button>Apply</button>
								</div>
								
							</div>
							
					</div>	

				</div>
				<div class="sidebar">
					<div class="search">
					<input type="search" name="search" placeholder="Search">

					</div>
					
					<!-- ACCORDEON -->

					<div class="accordeon">
						<div class="ac-menu">
							<li class="item" id="part-1">
								<a href="#part-1" class="btn">Part 1</a>
								<div class="submenu">
									<a href="#">Task 1.1</a>
									<a href="#">Task 1.2</a>
									<a href="#">Task 1.3</a>
								</div>
							</li>

							<li class="item" id="part-2">
								<a href="#part-2" class="btn">Part 2</a>
								<div class="submenu">
									<a href="#">Task 2.1</a>
									<a href="#">Task 2.2</a>
									<a href="#">Task 2.3</a>
									<a href="#">Task 2.4</a>
									<a href="#">Task 2.5</a>
								</div>
							</li>

							<li class="item" id="part-3">
								<a href="#part-3" class="btn">Part 3</a>
								<div class="submenu">
									<a href="#">Task 3.1</a>
									<a href="#">Task 3.2</a>
									
								</div>
							</li>

							<li class="item" id="part-4">
								<a href="#part-4" class="btn">Part 4</a>
								<div class="submenu">
									<a href="#">Task 4.1</a>
									<a href="#">Task 4.2</a>
									<a href="#">Task 4.3</a>
								</div>
							</li>

							<li class="item">
								<a href="#" class="btn">Collapse</a>

						</div>
					</div>


			</div>
		</main>

		<footer>
			<div class="copy">
			<p>Copyright © Zhuryk Oleksandr 2019</p>
		</div>
		</footer>
	</div>
</body>
</html>