header {
	background: linear-gradient(#395a1c, #458819);
}

h1, h2 {
	text-align: center;
	color: yellow;
	margin: 0;
}

main {
	display: flex;	
	justify-content: space-between;
	font-size: 25px;
}


div {
	width: 350px;
	border: 2px solid #7df907;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	background: linear-gradient(#395a1c, #458819);		
}

input {
	margin: 5px 5px;
	padding: 5px;
	border-radius: 5px;	
}

p {
	margin: 5px;
	color: yellow;
}

button {
	margin: 5px 5px;
	padding: auto;
	border-radius: 5px;
	height: 30px;
	width: 80px;
	font-width: bold;
	color:  white;
	background: #196b51;
}

.result {
	min-height: 300px;
}

#out1, #out2, #out3, #out4 {
	color: white;
}