header {
    width: 100%;
    background-color: #7aa8c3;	
}
main {
    min-height: 530px;
}
.container {
    display: flex;	
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 50px;
    margin-right: 50px;
}
.logo {
    margin-top: 20px;
}
.logo a{
    text-transform: uppercase;
    color: #FFF;
    font-weight: 800;
    font-size: 34px;
    cursor: pointer;		
}

.topnav a{
    color: #FFF;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    display: table-cell;
    vertical-align: bottom;
}

.topnav a:hover{
	font-size: 24px;
	
}
.topnav .icon {
	display: none;
}

main {
	width: 100%;	
}

.container.main {
	align-items: flex-start;
	
}
aside {
    width: 20%;	
    text-align: right;
    padding: 30px 10px;	
}
#btn-user-cabinet {
    display: none;
}
.navbar {
	
}

.navbar li {
	padding: 10px 0;
	border-bottom: 1px solid;
	color: #44847e;
}
.navbar li a {
	color: #000;
	padding: 0 20px;
	border-radius: 35px;
}

.navbar li a:hover {
	background-color: #44847e;
	
}
.box-btn {
	margin: 40px 0px;
}
.my-btn {	
	background-color: #44847e;
	color: #FFF;
	padding: 5px 10px;
	border-radius: 15px;
	margin-top: 30px;
}
.box-btn a:hover {
	background-color: #26655c;
}
.my-btn-form {  

        font-size: 16px;
	color: #FFF;
	padding: 5px 20px;
	border-radius: 15px;

}

section {
	width: 80%;
	padding: 30px;
}
.filters {
	display: flex;
	justify-content: space-around;
}
.filters > div{
	margin: 10px;
	background: none;
}
#sort-title, #search-title {
    display: flex;
    width: 300px;
}
#sort-title label, #search-title label {
    margin-right: 10px;
}
.sort-btn {
	width: 70%;
	height: 30px;
	border: 1px solid #44847E;
	border-radius: 15px;
	text-align: left;
	padding-left: 20px;
	
}
.sort-btn > a{
	color: #000;
	font-weight: normal;
	font-size: 14px;		
}
#search-title input {
    border:  1px solid #44847E;
    width: 120%;
    height: 30px;
    border-radius: 15px;	
}
input:focus {
    outline:none;
}
#search-title input::placeholder {
	padding-left:20px;
	font-size: 14px;
}
input{
    padding-left: 10px;
}

.group-question {
	margin: 25px;
}
.group-question h2 {
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 7px;
	font-weight: bold;
	border-bottom: 1px solid #44847E;
}
.group-question li {
	background: #f3f3f3;
	margin: 10px;
	border: 1px solid #44847E;
	border-radius: 5px;
	padding: 5px;
}
.group-question li:hover {
	background: #f3f3f3;
	box-shadow:  0 0 10px rgba(0,0,0,0.5);

}
.group-question li a {
	color: #000;
	font-size: 14px;
	padding-left: 20px;
}




footer {
	width: 100%;
	background-color: #7aa8c3;
	display: flex;
	justify-content: center;
    align-items: center;
}
footer .logo{
	margin: 5px;
}

.signature {
	margin: 0 30px;

}


/* FORM CREAT QUESTION */
form {
	background: #f3f3f3;
	padding: 20px;
}

form .box-question {
	padding: 20px;
	border-bottom: 1px solid #44847E;
	margin-bottom: 15px;
}

.box-question {
	margin-bottom: 15px;
}
.input-container {
	margin-bottom: 15px;
}
.box-question input {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border:  1px solid #dadada;
}

.box-question input::placeholder {
	padding: 5px 15px;
	font-size: 14px;
}

.box-answers {
	padding: 20px;
}

.answer-help {
    display: flex;
    justify-content: space-between;
}
.star {
    color: red;
}
.delete {
    cursor: pointer;
}
form input {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border:  1px solid #dadada;
	
}

#save {
	background-color: #328037;
        cursor: pointer; 
        z-index: 2; 
	position: fixed; 
	bottom: 140px; 
	right: 120px; 
        cursor: pointer;
        outline:none;
}

#clear {
	background-color: #cc4242;
        cursor: pointer; 
        z-index: 2; 
	position: fixed; 
	bottom: 100px; 
	right: 120px; 
        cursor: pointer;
        outline:none;
}

#wrap-question {
    margin: 10px;
    padding: 15px;
}
.container-question > h2, .container-question > h5{
    text-align: center;    
}
.container-question > h5 > a {
    color: #44847e;    
}

#answers {
    margin: 50px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#answers li {  
    margin: 20px;
}
.num-answer {
    margin: 5px 15px 5px 5px;
    padding: 5px 10px;
    background: #7aa8c3;
    color: #FFF;
}
.btn-question {
    display: flex;
    justify-content: space-around;
}
.a-question {
    color: #FFF;
    width: 25%;
    text-align: center;
    font-weight: normal;
}

@media screen and (max-width: 952px) {
    section {
        width: 100%;
        padding: 30px 10px;
    }   
    #btn-user-cabinet {
        display: block;
        position: absolute;            
        background: #44847e;
        height: 25px;
        width: 70px;
        font-weight: bold;
        color: #FFF;
        margin-top: 10px;
        padding: 5px 10px;
        border-radius: 0px 25px 25px 0px;
        text-align: center;
        left: 0;
        cursor: pointer;
    }
    .cabinet {
        display: none;
        position: absolute;
        border: 1px solid #44847E;
        border-radius: 5px;
        margin-top: 50px;
        left: 5px;
        z-index: 99;
        background: #FFF;        
    }

    .filters input {            
        width: 200px;
        height:30px;
        border-radius: 15px;	
    }
    aside {
       width: 20%;
    }
}
@media screen and (max-width: 760px) {
    .container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .topnav a{
            display: none;
    }
    .topnav a.icon {
            float: right;		
            display: block;
            color: #FFF;
            font-size: 25px;
    }
    nav {
            width: 100%;
    }
    .topnav.responsive {
            height: 200px;
            }
    .topnav.responsive a.icon {
            position: absolute;
            top: 20px;
            right: 50px;
    }
    .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
    }  
    
    .filters {
	display: flex;
        flex-wrap: wrap;
    }
    #sort-title #search-title {
        margin-left: 50px;
    }
    .filters .sort-btn{
        width: 65%;
	
	margin-left: 20px;
        order: 3;
    }
    .filters input {
	order: 4;
    }
    aside {
       width: 30%;
    }
}
/* /FORM CREAT QUESTION */