body {
	font-family: Arial, San-Serif;
	font-size: 100%;
}
ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
}

/* HEADER */
.container {
	margin: 0 auto;
	width: 950px;
	position: relative;
}

.header {
	padding: 20px 0;
	background-color: rgb(3, 45, 61);
}
.header h1,
.header h2 {
	text-align: center;
	color: rgb(180, 232, 252);	
	margin: 5px auto;
	width: 600px;
}

.logo {
	position: absolute;
	top: 0;
	left: -150px;
}




/* NAVIGATION */
.navigation {
	background-color: rgb(1, 19, 27);
	border-color: rgb(1, 15, 20);
	min-height: 60px;
}
.navigation li {
	float: left;
	width: 100px;
}
.navigation a {
	display: block;
	color: rgb(180, 232, 252);
	line-height: 4em;
	font-weight: bold;
	text-align: center;
}
.navigation li a:hover {
	color: rgb(3, 45, 61);
	background-color: rgb(180, 232, 252);
}

/* MAIN SECTION */
main {
	margin-top: 5px;	
	height: 385px;	
	width: 100%;
	position: relative;
}
#main {
	display: inline-block;
}
.content {
	height: 100%;
	width: 75%;	
	padding: 5px;
		
}
.article {
	position: relative;
	padding: 5px;
	height: 32%;
	
	
}
.article div {

	display: inline-block;
}

.image img {
	height: 100px;
}

.article-text {
	height: 90%;
	width: 85%;
	padding: 5px;
	
	float: right;	
}
.article-text h3{
	margin: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.article-text p {
	margin: 5px;
	max-height: 80px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.article-text button {
	margin: 5px;
	padding: 10px;	
	border-radius: 5px;
	outline: none;
}
.article-text button:hover {
	color: white;
	background-color: rgb(3, 45, 61);
}

.aside {
	float: right;	
	height: 100%;
	width: 22%;
}

/* LOGIN FORM */
.login{
	background-color: rgb(33,103,100);
	margin: 5px 0;	
	padding: 10% 10%;
}
.login input[type="text"],
.login input[type="password"] {
	width: 100%;
	padding: 5px;
	margin: 5px;
	border: 1px solid transparent;
	border-radius: 5px;
	outline: none;
}
.login input[type="submit"] {
	
	padding: 5px 15px;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid rgb(1, 19, 27);
	outline: none;
}
.login input[type="submit"]:hover {
	color: white;
	background-color: rgb(1, 19, 27);
}



/* FOOTER */
.footer {
	background-color: rgb(1, 19, 27);
	color: white;
	padding: 20px 0;
	margin-top: 5px;
	position: relative;
	text-align: center;
}